

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

p {
    text-align:justify;
}

div.me-section {
    /* width: 60vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
     background-color: rgb(246, 240, 255); /*rgb(218, 233, 209); */
    padding-top: 25px;
    padding-bottom: 25px;
}

h2.my-name span{
    display: inline-block;
    margin: auto;
    border-bottom: 1px solid yellow;
    border-right: 1px solid red;
    border-top: 1px solid blue;
    border-left: 1px solid green;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    background-color:  rgb(255, 248, 248);
    padding: 5px 20px;
}

h2.title {
    margin: 40px 0 10px 0;
    padding: 5px 20px;
    display: inline-block;
    background-color: rgb(228, 255, 197);
    border-radius: 5px;
    box-shadow: 1px 1px 1px;

    
    border: 1px solid green;
}

.wrapper {
    width: 50vw;
    margin: auto;
    padding: 0 5vw 24px 5vw;
    /* background-color: rgb(246, 240, 255); */
}

img {
    width: 100px;
    aspect-ratio: 1;
    object-fit:cover;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 1px solid brown;
}

.center-text {
    text-align: center;
}

div.contact {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    min-height: 25px;
    color: rgb(0, 0, 0);
}

a { 
    text-decoration: none;
    color: brown;
    font-size: 16px;
    text-transform: capitalize;
}

a:hover {
    font-weight: bold;
    font-size: 20px;
}

table {
    margin: 10px auto;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

tr > th {
    background-color: rgb(255, 192, 192);
}



li::marker {
    font-weight: bold;
}